/* FONTES */
@font-face {
    font-family: 'PACE';
    src: url('../fonts/PACE.woff2') format('woff2'),
        url('../fonts/PACE.woff') format('woff'),
        url('../fonts/PACE.ttf') format('truetype'),
        url('../fonts/PACE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PACE Italic';
    src: url('../fonts/PACE-Italic.woff2') format('woff2'),
        url('../fonts/PACE-Italic.woff') format('woff'),
        url('../fonts/PACE-Italic.ttf') format('truetype'),
        url('../fonts/PACE-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sofast';
    src: url('../fonts/Sofast.woff2') format('woff2'),
        url('../fonts/Sofast.woff') format('woff'),
        url('../fonts/Sofast.ttf') format('truetype'),
        url('../fonts/Sofast.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofast Italic';
    src: url('../fonts/Sofast-Italic.woff2') format('woff2'),
        url('../fonts/Sofast-Italic.woff2') format('woff'),
        url('../fonts/Sofast-Italic.ttf') format('truetype'),
        url('../fonts/Sofast-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

/* vAR FONTE */
:root {
    --fontNoCorpo: "Sofast";
    --titulos: "PACE";
    --corDoTexto: #4B4B4B;
    --corDeFundo: #101010;
    --titulos-color: #fff;
    --border-color: #fff;
    --white-color: #fff;
    --black-color: #000000;
    --primary-color: #FFFF00;
}

.site {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header {

    header .site {
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }

    .menu {
        width: auto;
    }

    .menu ul {
        display: flex;
        align-items: center;
    }

    .menu li {
        width: auto;
        margin: 10px;
    }

    .menu li a {
        width: 25px;
        text-decoration: none;
        font-weight: bold;
        color: white;
        font-family: var(--fontNoCorpo);
        text-transform: uppercase;
        font-size: 10pt;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .menu a:hover {
        color: var(--primary-color);
        transition: all 0.3 ease;
    }
}
.topo {
    position: fixed !important;
    margin: 0 auto;
    width: 100%;

    z-index: 999;
    background: rgba(255, 255, 255, 0.03);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.topo>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header .logo {
    margin: 20px;
    width: 150px;
}

header .topo ul {
    display: flex;
    justify-content: center;
}

.tel {
    display: flex;
    width: auto;
    align-items: center;
    text-align: center;
    font-size: larger;
}

.tel a {
    display: flex;
    align-items: center;
}

.tel :nth-child(1) {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: orange;
}

.tel h6 {
    color: white;
    font-weight: bold;
    font-size: 14px;
    font-family: var(--titulos);
}

.tel span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
    background: orange;
    margin-right: 10px;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

.tel span::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: orange;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: wave 1.5s infinite;
    z-index: 0;
}

.border-menu {
    opacity: 0.5;
    height: 1.5px;
    background-color: rgba(255, 255, 255, 0.3490196078);
    width: 100%;
}

.banner-slide {
    width: 100%;
}

@keyframes wave {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }

    50% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
}

.oficina-slide {
    position: relative;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    color: var(--titulos-color);
    overflow: hidden;
}

.oficina-slide{

    .slide-item { 
        position: relative;
        height: 100%;
    }

    .slide-item img {
        width: 100%;
        height: 100%;
        z-index: 999px;
        object-fit: cover;
    }

    .titulo-slide {
        position: absolute;
        top: 40%;
        margin-left: 300px;
        width: 700px;
    }

    .titulo-slide h2 {
        font-size: 3em;
        font-family: 'PACE Italic';
    }

    .titulo-slide p {
        font-size: 14pt;
        font-family: var(--fontNoCorpo);
    }

    .titulo-slide a {
        padding: 20px 45px;
        margin-top: 45px;
        display: inline-block;
        background-color: var(--primary-color);
        color: var(--corDoTexto);
        font-size: 20px;
        font-weight: 500;
        font-family: var(--fontNoCorpo);
        border: none;
        text-transform: uppercase;
        transform-style: preserve-3d;
        transition: background-color 0.4s, transform 0.3s, color 0.3s;
        transform: translate(0, 0px, 0px);
        text-decoration: none;
    }

    .titulo-slide a:hover {
        transition: background-color 0.4s, transform 0.3s, color 0.3s;
        background-color: var(--corDoTexto);
        color: var(--primary-color);
        transform: translate3d(0px, -7px, 0.01px);
    }
}

.slide {
    
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 75%;
        z-index: 10;
    }

    .slick-prev {
        left: inherit;
        right: 80px
    }

    .slick-prev:before {
        content: '→';
    }

    [dir='rtl'] .slick-prev:before {
        content: '←';
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 50px;
        opacity: 1;
        color: #FFFF00;
        background-color: rgb(75, 63, 65);
        border-radius: 90%;
        padding: 2px;
    }

    .slick-next {
        right: 140px;
    }

    .slick-next:before {
        content: '←';
    }

    [dir='rtl'] .slick-next:before {
        content: '→';
    }


    /* Dots */

    .slick-dots {
        counter-reset: dot-counter;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 30px;
    }

    .slick-dots {
        top: 35%;
        right: 70px;
        bottom: inherit;
        width: 0
    }

    .slick-dots ul {
        list-style-type: none;
        counter-reset: custom-counter;

    }

    .slick-dots li {
        position: relative;

        display: inline-block;

        width: 20px;
        height: 20px;
        margin: 15px 5px;
        padding: 0;

        cursor: pointer;
    }

    .slick-dots li button {
        font-size: 0;
        line-height: 0;

        display: block;

        width: 20px;
        height: 20px;
        padding: 5px;

        cursor: pointer;

        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
    }

    .slick-dots li button:hover,
    .slick-dots li button:focus {
        outline: none;
    }

    .slick-dots li button:hover:before,
    .slick-dots li button:focus:before {
        opacity: 1;
    }

    .slick-dots li button:before {
        font-size: 30px;
        line-height: 20px;
        font-family: 'PACE Italic';
        position: absolute;
        top: 0;
        left: 0;

        width: 20px;
        height: 20px;

        content: counter(dot-counter);
        counter-increment: dot-counter;
        text-align: center;

        opacity: .5;
        color: #FFFF00;
    }

    .slick-dots li.slick-active button:before {
        opacity: .75;
        color: rgb(78, 76, 76);
    }
}

.oficina-slide {
    .oficina-contato-info{
        text-decoration: none;
    }
    .oficina-contato-info {
        position: absolute;
        width: 100%;
        left: 0;
        top: 160px;
        color: var(--titulos-color);
        display: flex;
        justify-content: center;
        
    }

    .oficina-contato-info div {
        margin: 0 2%;
    }

    .oficina-contato-info div a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .oficina-contato-info span {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 10px;
        background-color: rgb(212, 130, 1);
        margin-right: 10px;
        cursor: pointer;
        z-index: 1;
        position: relative;
        box-shadow: 0 0 0 5px rgba(212, 130, 1, 0.3),
            0 0 0 10px rgba(212, 130, 1, 0.1);
    }

    .oficina-contato-info h6 {
        font-size: .8em;
        text-transform: none;
        text-decoration: none;
        font-family: var(--titulos);
        color: white;
    }
}

.oficina-contato-social {
    position: absolute;
    z-index: 11;
    width: 100px;
    color: var(--titulos-color);
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    top: 30%;

    .linha-horizontal {
        width: 1px;
        height: 85px;
        background: rgb(212, 130, 1);
    }

    .social-text {
        transform: rotate(-90deg);
        color: #fff;
        font-family: Oxanium;
        font-size: .8em;
        font-weight: 400;
        margin-top: 40px;
        font-family: 'PACE Italic';
    }

    a svg path {
        fill: white;
        transition: fill 0.3s ease;
    }

    a:hover svg path {
        fill: #FFFF00;
    }

}

.ofc_dest {
    
    >div {
        display: flex;
        justify-content: space-between;
    }

    .cx {
        width: 30%;

        .num{
            display: flex;
            align-items: baseline;
            margin-bottom: 25px;
        }
        h4{
            padding-left: 15px;
            color: transparent;
            -webkit-text-stroke: 1px #FFFF00;
        }
    }

    .dest_inf{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #000000;
        padding: 45px 35px;
        text-align: center;
        font-size: 16px;
        height: 200px;

        .dest_icon span{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            padding: 10px;
            background-color: rgb(212, 130, 1);
            margin-right: 10px;
            cursor: pointer;
            z-index: 1;
            position: relative;
        }

        .dest_icon span::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100px;
            height: 100px;
            background: rgb(212, 130, 1);
            border-radius: 50%;
            transform: translate(-50%, -50%) scale(0);
            animation: anima 1.5s infinite;
            z-index: 0;
        }
        .dest_txt {
            h4 {

                font-size: 1em;
                margin: 5% 0;
            }

            p {
                font-family: var(--fontNoCorpo);
                color: var(--white-color);
                font-size: .8em;
            }
    }
}

html {
    background-color: gray;
}
