/* FONTES */
@font-face {
    font-family: 'PACE';
    src: url('../fonts/pace-racing-car/PACE.woff2') format('woff2'),
        url('../fonts/pace-racing-car/PACE.woff') format('woff'),
        url('../fonts/pace-racing-car/PACE.ttf') format('truetype'),
        url('../fonts/pace-racing-car/PACE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PACE Italic';
    src: url('../fonts/pace-racing-car/PACE-Italic.woff2') format('woff2'),
        url('../fonts/pace-racing-car/PACE-Italic.woff') format('woff'),
        url('../fonts/pace-racing-car/PACE-Italic.ttf') format('truetype'),
        url('../fonts/pace-racing-car/PACE-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sofast';
    src: url('../fonts/sofast-racing-car/Sofast.woff2') format('woff2'),
        url('../fonts/sofast-racing-car/Sofast.woff') format('woff'),
        url('../fonts/sofast-racing-car/Sofast.ttf') format('truetype'),
        url('../fonts/sofast-racing-car/Sofast.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofast Italic';
    src: url('../fonts/sofast-racing-car/Sofast-Italic.woff2') format('woff2'),
        url('../fonts/sofast-racing-car/Sofast-Italic.woff') format('woff'),
        url('../fonts/sofast-racing-car/Sofast-Italic.ttf') format('truetype'),
        url('../fonts/sofast-racing-car/Sofast-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

/* vAR FONTE */
:root {
    --fontNoCorpo: "Sofast";
    --titulos: "PACE";
    --corDoTexto: #4B4B4B;
    --corDeFundo: #101010;
    --titulos-color: #fff;
    --border-color: #fff;
    --white-color: #fff;
    --black-color: #000000;
    --primary-color: #FFFF00;
}

* {
    width: 100%;
}

.site {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header {

    header .site {
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }

    .menu {
        width: auto;
    }

    .menu ul {
        display: flex;
        align-items: center;
    }

    .menu li {
        width: auto;
        margin: 10px;
    }

    .menu li a {
        width: 25px;
        text-decoration: none;
        font-weight: bold;
        color: white;
        font-family: var(--fontNoCorpo);
        text-transform: uppercase;
        font-size: 14pt;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .menu a:hover {
        color: var(--primary-color);
        transition: all 0.3 ease;
    }
}
.topo {
    position: fixed !important;
    margin: 0 auto;
    width: 100%;

    z-index: 999;
    background: rgba(255, 255, 255, 0.03);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.topo>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header .logo {
    margin: 20px;
    width: 150px;
}

header .topo ul {
    display: flex;
    justify-content: center;
}

.tel {
    display: flex;
    width: auto;
    align-items: center;
    text-align: center;
    font-size: larger;
}

.tel a {
    display: flex;
    align-items: center;
}

.tel :nth-child(1) {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: orange;
}

.tel h6 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: var(--titulos);
}

.tel span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
    background: orange;
    margin-right: 10px;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

.tel span::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: orange;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: wave 1.5s infinite;
    z-index: 0;
}

.border-menu {
    opacity: 0.5;
    height: 1.5px;
    background-color: rgba(255, 255, 255, 0.3490196078);
    width: 100%;
}

.banner-slide {
    width: 100%;
}

@keyframes wave {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }

    50% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
}

.oficina-slide {
    position: relative;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    color: var(--titulos-color);
    overflow: hidden;
}

.oficina-slide {

    .slide-item { 
        position: relative;
        height: 100%;
    }

    .slide-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .titulo-slide {
        position: absolute;
        top: 40%;
        margin-left: 300px;
        width: 700px;
    }

    .titulo-slide h2 {
        font-size: 2em;
        font-family: 'PACE Italic';
    }

    .titulo-slide p {
        font-size: 1em;
    }

    .titulo-slide a {
        padding: 20px 45px;
        margin-top: 45px;
        display: inline-block;
        background-color: var(--primary-color);
        color: var(--corDoTexto);
        font-size: 20px;
        font-weight: 500;
        font-family: var(--fontNoCorpo);
        border: none;
        text-transform: uppercase;
        transform-style: preserve-3d;
        transition: background-color 0.4s, transform 0.3s, color 0.3s;
        transform: translate(0, 0px, 0px);
    }

    .titulo-slide a:hover {
        transition: background-color 0.4s, transform 0.3s, color 0.3s;
        background-color: var(--corDoTexto);
        color: var(--primary-color);
        transform: translate3d(0px, -7px, 0.01px);
    }
}

.slide {
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 75%;
        z-index: 10;
    }

    .slick-prev {
        left: inherit;
        right: 80px
    }

    .slick-prev:before {
        content: '→';
    }

    [dir='rtl'] .slick-prev:before {
        content: '←';
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 50px;
        opacity: 1;
        color: #FFFF00;
    }

    .slick-next {
        right: 140px;
    }

    .slick-next:before {
        content: '←';
    }

    [dir='rtl'] .slick-next:before {
        content: '→';
    }


    /* Dots */

    .slick-dots {
        counter-reset: dot-counter;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 30px;
    }

    .slick-dots {
        top: 35%;
        right: 70px;
        bottom: inherit;
        width: 0
    }

    .slick-dots ul {
        list-style-type: none;
        counter-reset: custom-counter;

    }

    .slick-dots li {
        position: relative;

        display: inline-block;

        width: 20px;
        height: 20px;
        margin: 15px 5px;
        padding: 0;

        cursor: pointer;
    }

    .slick-dots li button {
        font-size: 0;
        line-height: 0;

        display: block;

        width: 20px;
        height: 20px;
        padding: 5px;

        cursor: pointer;

        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
    }

    .slick-dots li button:hover,
    .slick-dots li button:focus {
        outline: none;
    }

    .slick-dots li button:hover:before,
    .slick-dots li button:focus:before {
        opacity: 1;
    }

    .slick-dots li button:before {
        font-size: 30px;
        line-height: 20px;
        font-family: 'PACE Italic';
        position: absolute;
        top: 0;
        left: 0;

        width: 20px;
        height: 20px;

        content: counter(dot-counter);
        counter-increment: dot-counter;
        text-align: center;

        opacity: .5;
        color: #FFFF00;
    }

    .slick-dots li.slick-active button:before {
        opacity: .75;
        color: rgb(78, 76, 76);
    }
}
html {
    background-color: gray;
}
